.cell{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    box-shadow: 0 0 0 2px rgb(105, 96, 96),inset 0 0 0 5px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
button{
    color: white;
    background-color: rgba(10, 10, 180, 0.74);
    border-radius: 12px;
}