*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
body{
    color: #ededed;
    background: rgb( 60, 59, 119);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor:default;
    opacity: 0;
    animation: slideRight  1s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    
    opacity: 0;
    animation: slideTop  1s ease forwards;
}
.navbar a:hover{
    color: #0ef;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(./Untitledkausik-portfolio.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;

}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p {
    font-size: 20px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: white;
    color: black;
    box-shadow: 0 0 20px rgb(122, 113, 113);
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background:transparent;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    border:3px solid black;
}
.btn-box:hover{
    cursor: pointer;
    background: white;
    color: black;
    box-shadow: 0 0 20px rgb(122, 113, 113);
    
}
.lo{
    margin-bottom: 30px;
}
.resume{
    display: inline-block;
    padding: 12px 28px;
    background:transparent;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    border:3px solid black;
    margin-left: 20px;
    
}
.resume:hover{
    cursor: pointer;
    background: white;
    color: black;
    box-shadow: 0 0 20px rgb(122, 113, 113);
}
.but{
    display: inline-flex;
}
.text{
    color: black;
    margin-left: 7px;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    padding-bottom: 20px;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: black;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;

}
.about-text p{
    color:#ededed;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}



html{
    scroll-behavior: smooth;
    scroll-padding: 1rem;
}

#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span {
    color: black;
}
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 14px;
    border-radius: 20px;
    border-right: 10px;
    box-shadow: 1px 1px 20px #4d62aff7,
    1px 1px 40px #fff;
    transition:  0.5s,transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background:transparent;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    border:3px solid black;
    margin-left: 20px;
    opacity: 0;
    animation-delay: 2s;
    animation: slideTop  1s ease forwards;
}

.read:hover{
    cursor: pointer;
    background: white;
    color: black;
    box-shadow: 0 0 20px rgb(122, 113, 113);
}
.services-list div:hover{
    transform: translateY(-10px);
}
.services-list p{
    font-size: 14px;
}

section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin:auto auto;
    margin-bottom: 7rem;

}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness:5px ;
    margin-bottom: 50px;
}
.bar{
    font-size: 22px;

}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}

.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    transition-delay: 3s;
    animation: arun  1s ease-in-out forwards infinite;
    transform: scaleX(1);
    transform-origin: left;
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    transition-delay: 5s;
    animation-delay: 2s;
    animation: arun 15s  ease-in forwards infinite;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes arun {
    
    100%{
        transform: scaleX(1);
    }
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 80%;
}
.progress-line.javascript span{
    width: 75%;
}
.progress-line.bootstrap span{
    width: 90%;
}
.progress-line.python span{
    width: 80%;
}
.progress-line.angular span{
    width: 70%;
}
.progress-line.postgresql span{
    width: 65%;
}


.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity:0;
}
.progress-line.html span:after{
    content: "90%";
}
.progress-line.css span::after{
    content: "80%";
}
.progress-line.javascript span::after{
    content: "75%";
}
.progress-line.bootstrap span::after{
    content: "90%";
}
.progress-line.python span::after{
    content: "80%";
}
.progress-line.angular span::after{
    content: "70%";
}
.progress-line.postgresql span::after{
    content: "65%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0; 
    height: 0;
    border: 7px solid black;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color:#000000 ;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}
.project{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin: auto auto;

    margin-bottom: 20px;
    align-items: center;

}
.sub-title1{
    margin-top: 4rem;
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
ul{
    
    
    font-size: 33px;
    opacity: 0;
    animation-delay: 2s;
    animation: slideRight  1s ease forwards;

}
.sub-title1 span {
    color: black;
}
.container3{
    align-items:  center;
    justify-content: center;
}

.btn-box1{
    display: inline-block;
    padding: 12px 28px;
    background:transparent;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    border:3px solid black;
    margin-top: 50px;

}
.btn-box1:hover{
    cursor: pointer;
    background: white;
    color: black;
    box-shadow: 0 0 20px rgb(122, 113, 113);
}

.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 100px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #000000;
}

.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;

}
.contact-list{
    margin-bottom: 3rem;

}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list i:hover{
    transform: scale(1.01) translateY(-5px);
    color: #000000;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.contact-icons i:hover{
    background: white;
    color: black;
    box-shadow: 0 0 20px rgb(122, 113, 113);

}
.contact-form form{
    position: relative;
}
.contact-form ,form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;

}
.contact-form ,textarea{
    resize: none;
    height: 220px;
}
.contact-form, form .send{
    display: inline-block;
    padding: 12px 28px;
    background:transparent;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    border:3px solid black;
    margin-left: 2px;
    opacity: 0;
    animation-delay: 2s;
    animation: slideTop  1s ease forwards;
}

.contact-form , form .send:hover{
    cursor: pointer;
    background: white;
    color: black;
    box-shadow: 0 0 20px rgb(122, 113, 113);
}
.contact-text h2{
    text-align: center;
    justify-content: center;
    margin-left: 40px;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #0c265c;
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #000000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
    
}










@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes arun {
    
    100%{
        transform: scaleX(1);
    }
}